# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Docker volumes
postgres-data